<ion-header>
  <ion-navbar class="headerPlaylist">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Playlist</ion-title>
    <button class="buttonAdd" (click)="addPlaylist()">
      <ion-icon class="iconAdd" name="md-add-circle"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-playlist">
  <div class="divItems" *ngIf="playlist?.length>0">
    <ion-list class="itemArtist" *ngFor="let p of playlist">
      <ion-item class="item">
        <ion-avatar item-start>
          <img src="{{imageURL.url}}"/>
        </ion-avatar>
        <h2 class="nameItem" (click)="goToPlaylist(p)">{{p}}</h2>
        <ion-icon item-end name="md-more"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
