.page-home {
	background-color: rgb(15, 14, 14);
}
.recentSearchTitle {
	color: white;
}
.divItems {
	margin-top: 20px;
}
.itemArtist {
	margin-bottom: 0px !important;
}
.item {
	background-color: rgb(15, 14, 14);
}
.nameItem {
	color: white;
}
.inputSearch .searchbar-input {
	background-color: rgb(90, 85, 85);
}
