<ion-header>
  <ion-navbar text-end>
    <button ion-button icon-left (click)="open(currentItem.external_url)" clear small>
      <ion-icon name="open"></ion-icon>
      Spotify
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="page-previus-songs" text-center>
  <ion-slides (ionSlideNextStart)="doChangeCurrentNext()" (ionSlidePrevStart)="doChangeCurrentPrev()"
              initialSlide="{{index}}">
    <ion-slide style="min-width: 100%" *ngFor="let t of tracks">
      <ion-card>
        <ion-card-content class="contentCard">
          <ion-thumbnail item-start *ngIf="t.imageURL">
            <img class="imageSong" src="{{t.imageURL.url}}"/>
          </ion-thumbnail>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <div class="currentContainer">
    <ion-icon *ngIf="savedSong == true" style="color: #02df02" class="iconCurrent" name="md-add"></ion-icon>
    <ion-icon *ngIf="savedSong == false" class="iconCurrent" name="md-add" (click)="setSong(tracks[index].imageURL)"></ion-icon>
    <div class="nameCurrent">
      <h4 class="nameSong">{{currentItem.name}}</h4>
      <p class="artists">{{currentItem.artists}}</p>
    </div>
    <ion-icon class="iconCurrent" name="md-more" (click)="openModal(tracks[index].imageURL)"></ion-icon>
  </div>
  <div class="controllerButtonsSong">
    <button ion-button clear small (click)="prevCurrent()">
      <ion-icon name="md-skip-backward"></ion-icon>
    </button>
    <button class="button-play" *ngIf="currentItem.url && !playing" ion-button (click)="play(currentItem.url)" clear
            small>
      <ion-icon style="margin-left: 4px" class="icon-play" name="play"></ion-icon>
    </button>
    <button class="button-play" *ngIf="currentItem.url && playing" ion-button (click)="stop()" clear small>
      <ion-icon class="icon-play" name="md-pause"></ion-icon>
    </button>
    <button ion-button clear small (click)="nextCurrent()">
      <ion-icon name="md-skip-forward"></ion-icon>
    </button>
  </div>
</ion-content>
