.page-previus-songs {
  background-color: rgb(15, 14, 14);
}

.nameSong{
  color: white;
  margin-bottom: 0;
}

.artists{
  color: #8e9093;
}

ion-slides {
  height: 50%;
}

ion-slides .swiper-wrapper{
  height: 80%;
  margin-top: 15%;
}

.controllerButtonsSong {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controllerButtonsSong button{
  margin-right: 5.5px;
  margin-left:  5.5px;
}
.imageSong{
  height: 40vh !important;
}
.contentCard{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.button-play{
  width: 17%;
  height: 100%;
  border: 1px solid;
  border-radius: 52%;
}
.icon-play{
  font-size: 3.2em !important;
}
.currentContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.nameCurrent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconCurrent{
  color: white;
  font-size: 2em;
}
