<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Albumes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-saved-albums" padding>
  <div class="divItems" *ngIf="albums?.length>0">
    <ion-list class="itemArtist" *ngFor="let a of albums">
      <ion-item class="item">
        <ion-thumbnail item-start *ngIf="a.images?.length>0">
          <img src="{{a.images[0].url}}"/>
        </ion-thumbnail>
        <h2 class="nameItem" (click)="getSongs(a.id,a.artists[0].name)">{{a.name}}</h2>
        <p>{{a.artists[0].name}}</p>
        <ion-icon item-end name="md-close" (click)="deleteItem(a.id)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
