.page-modal-playlist {
  background-color: rgb(90, 85, 85);
}
.page-modal-playlist .scroll-content{
  padding: 0 !important;
}
.modal-wrapper{
  height: 75% !important;
}

ion-modal{
  margin-top: 55%;
}
.modalContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45%;
}
.modalButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputModal{
  max-height: 30%;
}
.inputModal input {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}
