.page-modal-playlist {
  background: -webkit-linear-gradient(top, rgba(189,189,189,1) 0%, rgba(130,130,130,1) 34%, rgba(59,59,59,1) 72%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(189,189,189,1) 0%, rgba(130,130,130,1) 34%, rgba(59,59,59,1) 72%, rgba(0,0,0,1) 100%);
}
.page-modal-playlist .scroll-content{
  padding: 0 !important;
}
.modal-wrapper{
  height: 75% !important;
}
.titleModal{
  margin-top: 10% !important;
}
ion-modal{
  margin-top: 55%;
}
.modalContainer{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55%;
}
.modalButtons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 10%;
}
.inputModal{
  max-height: 30%;
  margin-bottom: 10%;
}
.inputModal input {
  margin: 0 10%;
  height: 100%;
  width: 80%;
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid white;
}
.modalButtons button{
  font-size: large;
  background-color: transparent;
}
