.page-before-add-playlist {
  background-color: rgb(15, 14, 14);
}
.buttonAddPlaylist{
  width: 50%;
  height: 10%;
  background-color: rgb(2, 223, 2);
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 4%;
  border: 1px solid #00ca00;
}
